body{
    background-color: rgb(230, 227, 227);
}
.calculator{
    border: 1px solid black;
    width: 564px;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: hsl(208, 100%, 90%);
    /* transform: scale(2); */
}
.digits-container{
    display: grid;
    width: 544px;
    height: 584px;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 145px repeat(4, 100px);
    grid-template-areas: "display display display display display"
                         "seven eight nine del clear"
                         "four five six divide multiply"
                         "one two three subtract add"
                         "zero zero decimal equal equal";
    row-gap: 10px;
    column-gap: 10px;
    margin: 10px;
}
.display{
    grid-area: display;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 80px;
    height: 140px;
    width: 540px;
    border: thin solid black;
    background-color: aliceblue;
}
.digits{
    display: flex;
    border: thin solid black;
    height: 100px;
    width: 100px;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}
.operators{
    background-color: rgb(252, 226, 177);
}

.selected{
    background-color: rgb(247, 198, 109);
}
.special{
    background-color: aliceblue;
}

#nine{
    grid-area: nine;
}
#eight{
    grid-area: eight;
}
#seven{
    grid-area: seven;
}
#six{
    grid-area: six;
}
#five{
    grid-area: five;
}
#four{
    grid-area: four;
}
#three{
    grid-area: three;
}
#two{
    grid-area: two;
}
#one{
    grid-area: one;
}
#zero{
    grid-area: zero;
    width: 210px;
}
#decimal{
    grid-area: decimal;
}
#del{
    grid-area: del;
}
#multiply{
    grid-area: multiply;
}
#divide{
    grid-area: divide;
}
#add{
    grid-area: add;
}
#subtract{
    grid-area: subtract;
}
#equal{
    grid-area: equal;
    background-color: rgb(174, 216, 255);
    width: 210px;
}
#clear{
    grid-area: clear;
}
#signal{
    grid-area: signal;
}


@media (max-width: 600px){
    .calculator{
        width: 320px;
        padding: 10px;
    }
    .digits-container{
        position: relative;
        grid-template-columns: repeat(5, 60px);
        grid-template-rows: 115px repeat(4, 60px);
        width: inherit;
        margin: 0px;
        row-gap: 5px;
        column-gap: 5px;
        height: auto;
    }
    .display{
        font-size: 80px;
        width: 320px;
        height: 110px;
    }
    .digits{
        /* height: wrap;
        width: wrap; */
        font-size: larger;
        width: 60px;
        height: 60px;
    }
    #equal, #zero{
        width: 125px;
    }   
}