.calculator{
    border: 1px solid black;
    width: 282px;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: hsl(208, 100%, 90%);
}
.digits-container{
    display: grid;
    width: 272px;
    height: 292px;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 70px repeat(4, 50px);
    grid-template-areas: "display display display display display"
                         "seven eight nine del clear"
                         "four five six divide multiply"
                         "one two three subtract add"
                         "zero zero decimal equal equal";
    row-gap: 5px;
    column-gap: 5px;
    margin: 5px;
}
.display{
    grid-area: display;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 40px;
    height: 70px;
    width: 270px;
    border: thin solid black;
    background-color: aliceblue;
}
.digits{
    display: flex;
    border: thin solid black;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}
.operators{
    background-color: rgb(252, 226, 177);
}

.selected{
    background-color: rgb(247, 198, 109);
}
.special{
    background-color: aliceblue;
}

#nine{
    grid-area: nine;
}
#eight{
    grid-area: eight;
}
#seven{
    grid-area: seven;
}
#six{
    grid-area: six;
}
#five{
    grid-area: five;
}
#four{
    grid-area: four;
}
#three{
    grid-area: three;
}
#two{
    grid-area: two;
}
#one{
    grid-area: one;
}
#zero{
    grid-area: zero;
    width: 105px;
}
#decimal{
    grid-area: decimal;
}
#del{
    grid-area: del;
}
#multiply{
    grid-area: multiply;
}
#divide{
    grid-area: divide;
}
#add{
    grid-area: add;
    /* height: 105px; */
}
#subtract{
    grid-area: subtract;
}
#equal{
    grid-area: equal;
    background-color: rgb(174, 216, 255);
    width: 105px;
}
#clear{
    grid-area: clear;
}
#signal{
    grid-area: signal;
}