.calculator{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    height: 300px;
    width: 285px;
}
.digits-container{
    display: grid;
    width: 275px;
    height: 300px;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 70px repeat(4, 50px);
    grid-template-areas: "display display display display display"
                         "seven eight nine del clear"
                         "four five six divide multiply"
                         "one two three subtract add"
                         "zero zero decimal equal signal";
    row-gap: 5px;
    column-gap: 5px;
    margin: 5px;
}
.display{
    grid-area: display;
    height: 70px;
    width: 270px;
    border: thin solid black;
}
#nine{
    grid-area: nine;
}
#eight{
    grid-area: eight;
}
#seven{
    grid-area: seven;
}
#six{
    grid-area: six;
}
#five{
    grid-area: five;
}
#four{
    grid-area: four;
}
#three{
    grid-area: three;
}
#two{
    grid-area: two;
}
#one{
    grid-area: one;
}
#zero{
    grid-area: zero;
    width: 105px;
}
#decimal{
    grid-area: decimal;
}
#del{
    grid-area: del;
}
#multiply{
    grid-area: multiply;
}
#divide{
    grid-area: divide;
}
#add{
    grid-area: add;
    /* height: 105px; */
}
#subtract{
    grid-area: subtract;
}
#equal{
    grid-area: equal;
    /* width: 105px; */
}
#clear{
    grid-area: clear;
}
#signal{
    grid-area: signal;
}
.digits{
    display: flex;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}